//abbreviations
// bg = background
// clr = color
// fnt = font
// btn = button
// bdr = border
// thk = thickness


$btn-bg-clr: rgb(68, 114, 196);
$btn-bg-clr-hov:rgb(40, 25, 196);
$btn-fnt-clr: white;

$bdr-clr: gray;
$bdr-type:solid;
$bdr-thk: 1px;