@import './variables';
@import './mixins';
.btn-add{
    background-color: $btn-bg-clr;
    color: $btn-fnt-clr;
    cursor: pointer;
    &:hover{
        background-color: $btn-bg-clr-hov;
    }
}

.add-task-container{
    margin: 0 auto;
    max-width: 500px;

    .add-task-text{
        width: 88%;

        &:focus{
            outline: 1px solid $input-clr;
        }

    }
}
.todo-list{
    margin: 10px auto;
    max-width: 500px;
}
.todo-list-item{
    display: flex;
    flex-direction: row;
    padding: 10px;
    @include border-stacked;
    // justify-content: space-between;
    align-items: center;
    font-size: 1.2em;

    .todo-item-cbx{
        width: 10%;
        transform: scale(1.5);
        
        &:hover{
            border: 5px solid $input-clr;
        }
    }
    .todo-list-cbx-label{
        width: 80%;
    }

}
.trash{
    color:red;
    float: right;
    width: 10%;
    text-align: center;
    cursor: pointer;

    &:hover{
        // font-size: 26px;
        text-decoration: underline overline;
        // text-decoration: overline;
    }
}
.done{
    background-color: rgb(0, 255, 0);
    text-decoration: line-through;
}